.mytest {
    color: goldenrod;
     font-size: 150px;
     font-style: italic;
} 
.pablo {
    color: greenyellow;
    font-size: 20px;
}
.ww {
    color: tomato; 
    font-size: 30px;
}
.rr{
color: forestgreen;
  font-size: 30px;
}
.tt{
    color: olive;
    font-size: 30px;
}
.yy{
    color: lavender;
    font-size: 30px;
}
.uu {
    color: darkgreen;
    font-size: 150px;
}
.oo {
    color: lime;
    font-size: 25px;
}
.pp{
    color: red;
    font-size: 30px;
}
.aa {
    color: chartreuse;
    font-size: 30px;
}
.ss {
    color: palegreen;
    font-size: 30px;
}

    